@model Sandwich2Go.Models.IngredienteViewModels.SelectIngredientesForPurchaseViewModel


@{
    ViewData["Title"] = "Select Ingredientes";
}

<h2>Purchase Ingredientes</h2>

@* Form to fill in the filters to be used *@
<form asp-controller="Ingredientes" class="form-horizontal">
    <p>
        <div>
            <label asp-for="ingredienteNombre"></label>
            <input asp-for="ingredienteNombre" size="50" />
            <span asp-validation-for="ingredienteNombre" class="text-danger"></span>

            <label asp-for="ingredienteAlergenoSelected"></label>
            <select asp-for="ingredienteAlergenoSelected" asp-items="Model.Alergenos">
                <option value="">All</option>
            </select>

            <input id="filterButton" asp-action="SelectIngredientesForPurchase" type="submit" value="Filtrar" formmethod="get" />
        </div>
    </p>
     <div id="ModelErrors" asp-validation-summary="All" class="text-danger">@TempData["Error"]</div>



<table class="table">
        <thead>
            <tr>
                <th width="50%">
                    Nombre
                </th>
                <th>
                    Precio
                </th>
                
                <th align="center" width="10%">
                    Seleccionar Ingrediente
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Ingredientes.Count() == 0)
            {
                <tr><td id="NoIngredientes" colspan="3">There are no ingredientes available</td></tr>
            }
            else
            {
                @foreach (var item in Model.Ingredientes)
                {
                    <tr id="Ingrediente_Name_@item.Nombre">
                        <td width="50%">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecioUnitario)
                        </td>
                       
                        <td align="center" width="10%">
                            <input type="checkbox" name="IdsToAdd" id="Ingrediente_@item.Id" value="@item.Id" class="form-control">
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <form asp-action="SelectIngredientesForPurchase" method="post">

        <button id="Save" type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </form>
</form>